<header class="grid_12">
	<h1>Welcome to <%= image_tag('logo.png') %></h1>
</header>

<section id="events" class="grid_6">
	<h1>Upcoming Events</h1>
</section>

<section id="tweets" class="grid_6">
	<h1>Twitter Stream</h1>
<section>

<footer class="grid_12">
</footer>

