<header class="grid_12">
	<div id="top_banner" <h1>Welcome to <%= image_tag('logo.png') %> Chandler</h1></div>
</header>

<section id="events" class="grid_6">
	<div id="events_head"><h1>Upcoming Events</h1>
</section>

<section id="tweets" class="grid_6">
	<div id="tweet_head"><h1>Twitter Stream</h1></div>
	<div id="tweetitemswrapper"></div>
</section>

<footer class="grid_12">
</footer>

